*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-weight: 500;
  font-size: 16px;
  color: #a1a1a1;
}

header {
  display: flex;
  height: 22%;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 55px;
  background: url(../images/header_bg.jpg) center/cover no-repeat;
}

span {
  color: #ff4800;
}

#container {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
}

.header-area {
  display: flex;
  align-content: space-between;
}

.header-top {
  width: 100%;
  height: 33px;
  margin-bottom: 15px;
}

.header-left {
  float: left;
  height: 33px;
  padding-top: 10px;
}

.header-left ul li {
  display: inline-block;
}

.header-left ul li a {
  background-image: url(../images/header_social_bg.jpg);
  display: block;
  width: 38px;
  height: 32px;
  margin-right: 5px;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  color: #ff4800;
  font-size: 12px;
}

.header-left ul li a i {
  width: 29px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #1d1e29;
  margin-right: 15px;
}

.header-right {
  float: right;
  height: 33px;
  padding-top: 10px;
}

.header-right ul li {
  float: left;
}

.header-right ul li a {
  background-color: #23262d;
  display: block;
  padding: 2px 5px 2px 7px;
  height: 33px;
  text-align: center;
  line-height: 32px;
  border-radius: 3px;
  font-size: 11px;
  color: #ff4800;
}

.header-right ul li a i {
  width: 29px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #1d1e29;
}

.header-right ul li a span {
  color: #cfcdcd;
  padding-left: 10px;
}

.header-right ul li .or {
  margin: 0 10px;
  line-height: 32px;
  font-size: 11px;
  font-weight: 700;
}

.clear {
  clear: both;
}

.header-menu {
  background-image: url(../images/main_header_bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 93px;
  border-radius: 3px;
  padding: 0 20px;
  margin-top: 7px;
  margin-bottom: 15px;
}


.change-text-color {
  color: #ff5917;
}

.change-text-color:hover .change-color {
  color: #ff5917;
  transition: all 0.5s linear;
}
.change-text-color:hover .change-color2 {
  color: white;
  transition: all 0.5s linear;
}

.change-color:hover {
  color: #ff5917;
  transition: all 0.5s linear;
}

.change-color {
  font-weight: 600;
  color: #ff5917;
  transition: all 0.5s linear;
}

.change-color2 {
  font-weight: 600;
  color: white;
  transition: all 0.5s linear;
}

.header-logo {
  float: left;
  padding: 30px 10px;
}

#menu-area {
  float: right;
}

#menu-area ul li {
  float: left;
}

#menu-area ul li a {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  width: 185px;
  padding: 40px 5px;
  display: block;
  line-height: 1;
  z-index: 1;
  color: #fff;
}

.home::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  height: 36px;
  width: 90px;
  transform: translateY(-50%) skewX(-17deg);
  background: #ff5917;
  z-index: -1;
}

.hover-block:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  height: 36px;
  width: 90px;
  transform: translateY(-50%) skewX(-17deg);
  transition: 0.5s linear;
  background: #ff5917;
  z-index: -1;
}

.shopping-cart a span {
  position: absolute;
  right: 70px;
  top: 30px;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  background: #ff4800;
  color: #fff;
}

/* ------------------ header menu 下拉選單 --------------------- */
#menu ul li {
  position: relative;
  list-style: none;
  width: 90px;
  height: 50px;
  text-align: center;
  margin-right: 10px;
}

#menu ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

#menu ul li a:hover {
  color: #fff;
}

#menu ul li:hover>a {
  color: #fff;
}

#menu ul li ul.submenu-1 {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 45px;
  top: 95px;
  background: #fff;
  width: 185px;
  height: 130px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

#menu ul li:hover ul.submenu-1 {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}


#menu ul li:hover ul.submenu-1 li a {
  color: #5d5d5d;
  transition: color 0.1s ease-in-out;
}

#menu ul li:hover ul.submenu-1 li a:hover {
  color: #ff4800;
  transition: color 0.3s ease-in-out;
}

.submenu-1 {
  display: flex;
  flex-wrap: wrap;
}

/*----------------------- 購物車下拉選單 -------------------*/
.minicart {
  background: #23262d;
  height: 480px;
  width: 400px;
  position: absolute;
  right: -35px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#menu ul li.shopping-cart:hover ul.minicart {
  opacity: 1;
  visibility: visible;
}

.minicart li {
  display: flex;
  width: 400px !important;
  height: 110px !important;
}

.minicart .cart-img img {
  width: 100px;
}

.cart-img a {
  padding: 0;
}

.cart-price span,
.total-price span {
  color: #aaabae;
  font-weight: 600;
}

.total-price {
  position: relative;
  padding: 50px 30px;
}

.total-price::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  border-bottom: 1px solid #e4e4e42a;
  width: 355px;
}

#menu ul li a.product-title {
  width: 150px;
  color: #fff;
  text-align: left;
  padding: 10px 0 20px 0;
}

#menu ul li a.trash-button {
  width: 110px;
  font-size: larger;
  padding-top: 40px;
}

#menu ul li a.shopping-button {
  width: 355px;
  height: 60px;
  background-color: #ff5917;
  color: white;
  margin-left: 20px;
  margin-bottom: 8px;
  padding: 0;
  line-height: 60px;
}

#menu ul li a.checkout-button {
  width: 355px;
  height: 60px;
  background-color: #353942;
  color: white;
  margin-left: 20px;
  padding: 0;
  line-height: 60px;
}

/* ---------------- 主區域 ------------------- */
.main {
  position: relative;
  background-image: url(../images/section_bg01.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

#slide-area {
  position: relative;
  width: 100%;
  height: 500px;
}

.big-img {
  position: absolute;
  top: -45px;
  background-image: url(../images/slider_bg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 450px;
  padding: 120px 0;
  border-radius: 4px;
  z-index: 1;
}

.big-img::before {
  content: "";
  top: 50%;
}

.intro-text {
  float: right;
  padding-top: 25px;
  padding-right: 150px;
}

.intro-text h6 {
  font-size: 20px;
  color: #ff5917;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 11px;
}

.intro-text h2 {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 9px;
  letter-spacing: -2px;
  color: #f8f5f5;
}


.intro-text p {
  font-size: 14px;
  line-height: 24px;
  color: #f8f5f5;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-weight: 600;
}

.btn {
  background-image: url(../images/btn_bg.jpg);
  background-size: cover;
  background-position: bottom center;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 0;
  padding: 16px 30px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}



.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  background: #dd4407;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.btn:hover::after {
  bottom: 0;
  transition: all 0.3s ease-out 0s;
}

.left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 41px;
  height: 90px;
  border: none;
  text-align: center;
  line-height: 90px;
  border-radius: 0 6px 6px 0;
  background-color: #ff5917;
  color: #fff;
  opacity: 0.15;
  transition: all 0.3s ease-out 0s;
}

.right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 41px;
  height: 90px;
  border: none;
  text-align: center;
  line-height: 90px;
  border-radius: 6px 0 0 6px;
  background-color: #ff5917;
  color: #fff;
  opacity: 0.15;
  transition: all 0.3s ease-out 0s;
}

.right-arrow:hover,
.left-arrow:hover {
  opacity: 1;
}

#game-boost-area {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.game-boost-wrap {
  position: absolute;
  width: 100%;
}

.game-boost-wrap span {
  color: #ff5917;
}

.game-boost-wrap h3 {
  font-size: 26px;
  line-height: 1;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.game-boost-wrap h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 4px;
  height: 19px;
  background: #ff5917;
}

.fa-play {
  position: absolute;
  left: 10px;
  top: 6px;
  font-size: 12px;
  color: #ff5917;
}

.boost-list {
  background-image: url(../images/game_boost_bg.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 0;
}

.boost-item {
  align-items: center;
  position: relative;
  display: flex;
  width: 33.333%;
  flex: 0 0 33.333%;
  padding: 19px 55px;
}

.content {
  padding-left: 10px;
}

.content h4 {
  font-size: 20px;
  margin-bottom: 6px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
}

.content span {
  font-size: 14px;
  font-weight: 600;
}

.item-line1::after,
.item-line2::after {
  content: "";
  position: absolute;
  background-image: url(../images/game_boost_line.png);
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 106px;
}

.product-list {
  min-width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

#offer-product-area {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.product-item1 {
  background-image: url(../images/offer_product01.jpg);
  width: 50%;
  height: 300px;
  border-radius: 6px;
  transition: 0.3s linear;
  background-position: left center;
  background-size: cover;
  transform: scale(1);
}

.product-item2 {
  background-image: url(../images/offer_product02.jpg);
  width: 50%;
  height: 300px;
  border-radius: 6px;
  transition: 0.3s linear;
  background-position: left center;
  background-size: cover;
  transform: scale(1);
  margin-left: 30px;
}

.product-item1:hover,
.product-item1:focus {
  transform: scale(1);
  transition: 0.3s linear;
}

.product-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0 50px 50px;
  width: 55%;
  z-index: 1;
  color: #fff;
}

.product-content h6 {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 9px;
  font-weight: 600;
}

.product-content h3 {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 15px;
}

.product-content p {
  padding-bottom: 2rem;
  color: #a1a1a1;
}

.product-content a {
  color: #fff;
}

.product-content span {
  color: #ff5917;
}

.offer-product-bg-line {
  position: absolute;
  left: 50%;
  top: 24%;
  transform: translateX(-50%);
  height: 13px;
  width: 1440px;
  background: #ff5917;
  z-index: -1;
  opacity: 0.14;
}

.offer-product-bg-line.line2 {
  height: 10px;
  top: 32%;
}

#popular-game-area {
  width: 100%;
}

.popular-game-wrap {
  width: 100%;
}

.popular-game-title h3 {
  font-size: 26px;
  line-height: 1;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.popular-game-title h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 4px;
  height: 19px;
  background: #ff5917;
}

.popular-game-title {
  padding-top: 80px;
  padding-bottom: 50px;
}

.game-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  width: 25%;
}

.game-item h6::after {
  content: "";
  position: absolute;
  background-image: url(../images/popular_game_line.png);
  width: 120px;
  height: 8px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.game-content {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  transform: translateY(0px);
  transition: 0.3s linear;
  z-index: 1;
}

.game-content h5 {
  margin-bottom: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.game-content p {
  color: white;
  font-weight: 600;
}

#popular-game-area .top-up-star {
  width: 38px;
  text-align: center;
  line-height: 38px;
  height: 38px;
  font-size: 12px;
  background: #3c3d49;
  border-radius: 50px;
  flex: 0 0 38px;
  color: #ff5917;
  margin-right: 15px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 364px;
  background: rgba(41, 43, 60, 0.9);
  z-index: 2;
  border-radius: 4px 20px 4px 20px;
  transition: 0.3s linear;
  opacity: 0;
}

.game-overlay h6 {
  font-size: 16px;
  margin-bottom: 35px;
  position: relative;
  padding-bottom: 10px;
}

.game-overlay h6::after {
  content: "";
  position: absolute;
  background-image: url(../images/popular_game_line.png);
  width: 120px;
  height: 8px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.game-overlay.cart {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background: #3c3d49;
  border-radius: 50%;
  color: #ff5917;
  font-size: 14px;
  flex: 0 0 45px;
}

#gallery-area {
  width: 100%;
}

.features-text {
  text-align: center;
  padding-top: 100px;
  color: #fff;
}

.features-text p {
  padding-bottom: 65px;
  color: #a1a1a1;
}

.features-text h2 {
  font-size: 40px;
  line-height: 1.2;
}

.title::after {
  content: "";
  display: block;
  background-image: url(../images/title_shape.png);
  width: 120px;
  height: 8px;
  margin: 12px auto 35px;
}

.game-features-list {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}

.game-features-item {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 380px;
  height: 420px;
  box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.5);
}

.game-features-cover-pic img {
  max-width: 100%;
  border-radius: 3px 3px 0 0;
}

.game-features-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 30px;
  background: rgba(37, 38, 52, 0.5);
  box-shadow: 0px 5px 13px 1px rgba(0, 0, 0, 0.5);
}

.game-features-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 9px;
  color: #fff;
}

.game-features-content a {
  text-decoration: none;
  color: #fff;
}

.game-features-content p {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 700;
  color: #c9c9c9;
}

.game-features-tag {
  position: absolute;
  left: 30px;
  top: -30px;
  right: 30px;
  z-index: 1;
}

.game-features-tag a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 26px;
}

.game-features-tag a::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  margin: 0;
  height: 36px;
  width: 90px;
  transform: translateY(-50%) skewX(-17deg);
  background: #ff5917;
  z-index: -1;
}

#video-area {
  background-image: url(../images/video_bg.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
}

.sub-title {
  display: block;
  font-size: 13px;
  font-weight: 800;
  color: #ff5917;
  margin-bottom: 8px;
}

.video-content {
  margin-bottom: 18px;
  padding-top: 75px;
  padding-right: 65px;
}

.video-content p {
  font-size: 14px;
  line-height: 26px;
  color: #a1a1a1;
  font-weight: 500;
  padding-bottom: 40px;
}

.video-wrap {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.video-play {
  position: relative;
  margin-left: -20px;
}

.popup-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68px;
  color: #fff;
  line-height: 1;
  opacity: 0.7;
  z-index: 1;
}

.video-top-shade {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.video-content-title {
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
  padding-bottom: 35px;
  font-weight: 700;
}

.video-content p {
  font-size: 14px;
  line-height: 26px;
  color: #a1a1a1;
  font-weight: 500;
}

.all-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery-img-item {
  margin-right: 7px;
  margin-bottom: 10px;
}

.gallery-img-item a {
  display: block;
  position: relative;
}

.gallery-img-item a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #252634;
  opacity: 0;
  transition: all 0.4s ease-out 0s;
}

.gallery-hover-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  transition: all 0.4s ease-out 0s;
  z-index: 2;
}

#best-game-area {
  background-image: url(../images/games_bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 110px 0 90px;
}

.best-game-wrap {
  display: flex;
  flex-wrap: wrap;
}

.best-games-offers {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.best-game-title {
  background-image: url(../images/best_game_title_bg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  box-shadow: 0px 3px 7px 0px rgba(128, 18, 40, 0.2);
  border-radius: 8px 8px 0 0;
  margin-bottom: 15px;
}

.best-game-title h4 {
  font-size: 22px;
  margin-bottom: 0;
  padding: 24px 30px;
  position: relative;
  color: #fff;
}

.best-game-title h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: #ff5917;
  border-radius: 0 0 4px 4px;
}

.best-game-title h4::after {
  content: "";
  position: absolute;
  left: 45px;
  bottom: -3px;
  height: 6px;
  width: 30px;
  border-radius: 0 0 4px 4px;
  background: #ff5917;
  z-index: 1;
}

.best-games-offers {
  background-color: #2c2e3d;
  box-shadow: 0 3px 30px 2px rgba(8, 8, 8, 0.5);
}

.best-game-item {
  display: flex;
  align-items: flex-start;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0 20px;
}

.best-game-item2 {
  width: 100%;
  padding: 25px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
}

.best-game-content1,
.best-game-content2 {
  width: 255px;
}

.best-game-content h6 {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #e9e6e6;
}

.best-game-content1 a,
.best-game-content2 a {
  color: #fff;
  font-weight: 600;
}

.best-game-thumb {
  width: 105px;
  height: 95px;
  margin-right: 20px;
}

.best-game-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 6px 38px 0px rgba(12, 11, 15, 0.5);
}

.rating {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #ff5917;
  margin-bottom: 8px;
}

.price {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  display: block;
}

.best-games-offers {
  width: 790px;
  height: 540px;
}

.most-popular {
  width: 400px;
  background-color: #2c2e3d;
  box-shadow: 0px 3px 30px 2px rgba(8, 8, 8, 0.5);
}

.footer-top-area {
  width: 100%;
  background-image: url(../images/footer_bg.jpg);
  background-position: top center;
  background-size: cover;
  padding: 70px 0 20px;
}

.footer-widget {
  width: 277px;
  margin: 0 15px;
}

.footer-menu-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.footer-menu-wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  box-shadow: 0px 3px 2px 1px rgba(8, 8, 8, 0.5);
}

.menu-item a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #b6b6b6;
  padding: 10px 30px;
  position: relative;
  line-height: 1;
}

.footer-logo {
  margin: 0 90px;
}

.info-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-title {
  margin-bottom: 30px;
}

.info-title h6 {
  font-size: 16px;
  color: #d9d5d5;
  margin-bottom: 0;
  padding-bottom: 15px;
  position: relative;
  font-weight: 800;
}

.info-title h6::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 5px;
  background: #ff5917;
  border-radius: 0 0 4px 4px;
}

.footer-contact-info ul li {
  font-size: 14px;
  color: #b1b1b1;
}

.footer-contact-info ul li span {
  color: #d8d8d8;
}

.footer-contact-info ul li i {
  margin-right: 7px;
}

.footer-contact-info ul li p {
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 15px;
  line-height: 24px;
}

.footer-social {
  margin-top: 25px;
}

.footer-social a {
  font-size: 14px;
  padding-right: 15px;
  color: #a6a6a5;
}

.trend-game-info ul li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #414348;
}

.trend-game-info ul li a {
  font-size: 14px;
  color: #b1b1b1;
  display: inline-block;
  font-weight: 600;
}

.comment ul li {
  color: #b1b1b1;
  font-size: 14px;
}

.comment ul li span {
  color: #b1b1b1;
  font-size: 14px;
}

.comment ul li a {
  color: #d7d7d7;
  font-weight: 600;
}

.comment ul li+li {
  margin-top: 15px;
}

.copyright-wrap {
  width: 100%;
  height: 100px;
  max-height: 150px;
  background: #191c23;
  padding: 35px 350px;
}

.copyright-text p {
  font-style: 14px;
  color: #b1b1b1;
  margin-bottom: 0;
  line-height: 26px;
  float: left;
}

.copyright-text p a {
  font-weight: 500;
  color: #ff5917;
}

.payment-method img {
  max-width: 100%;
  float: right;
}

/* ----------------- burger menu ------------------- */
.open-slide {
  float: right;
  padding-top: 33px;
  padding-right: 15px;
}

.side-menu-logo {
  padding-left: 30px;
  padding-bottom: 30px;
}

.navbar {
  overflow: hidden;
  height: 63px;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -20px;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
  display: flex;
  flex-direction: column;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.burger-list a {
  font-size: 18px;
  color: white;
}

.border-bottom {
  border-bottom: 1px solid #373737;
}

.bottom-icon {
  width: 360px;
  height: 150px;
  padding: 40px 75px;
}

.bottom-icon ul li {
  display: inline-block;
}

.bottom-icon ul li a {
  font-size: 20px;
  color: white;
  padding: 0 8px;
}